body{
    background-color: rgb(206, 199, 199);
    display: flex;
    flex-direction: row;
}

  
.buttons-view {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.btn{
    background-color: rgb(26, 124, 124);
    margin-top: 10px;
}
.btn:hover {
    background-color: rgb(7, 66, 66);
  }

.animal-btn{
    background-color: rgb(26, 124, 124);
    color:whitesmoke;
    margin-right: 5px;
    margin-top: 10px;
    width:100px;
    border-radius: 6px;
    
}
/* mouse over link */
.animal-btn:hover {
background-color: rgb(7, 66, 66);
}


/* selected link */
.animal-btn:active {
background-color: rgb(7, 66, 66);
}

.animal-btn:visited {
background-color: rgb(7, 66, 66);
}


.label{
    font-weight: bold;
}
  
  .animal_input_css{
    width:30%;
  }
  

.animal_gifs {
    display: flex;    
    flex-wrap: wrap;   
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}
.images{
    margin-bottom: 10px;

}

.rating{
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bold
    

}

@media only screen and (max-width: 768px) {
    .animal_input_css{
        width:auto;
      }
}
    
   